<div class="grid">
  <div class="col-6">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="nombre1" placeholder="Search" (change)="eligeselectedFoods1(nombre1)">
    </span>
    <p-table [value]="selectedFoods1" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Energía</th>
          <th>Grasas</th>
          <th>Carbohidratos</th>
          <th>Azucar</th>
          <th>Proteina</th>

          <th>Colesterol</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td><img [src]="product.imagen" alt="" style="width: 100px;"></td>
          <td>{{product.nombre}}</td>
          <td>{{product.energia}}</td>
          <td>{{product.grasas}}</td>
          <td>{{product.carbohidratos}}</td>
          <td>{{product.azucar}}</td>
          <td>{{product.proteina}}</td>

          <td>{{product.colesterol}}</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="card">
      <p-chart type="bar" [data]="basicData1" [options]="basicOptions"></p-chart>
    </div>
  </div>






  <div class="col-6">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="nombre2" placeholder="Search" (change)="eligeselectedFoods2(nombre2)">
    </span>
    <p-table [value]="selectedFoods2" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Energía</th>
          <th>Grasas</th>
          <th>Carbohidratos</th>
          <th>Azucar</th>
          <th>Proteina</th>

          <th>Colesterol</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td><img [src]="product.imagen" alt="" style="width: 100px;"></td>
          <td>{{product.nombre}}</td>
          <td>{{product.energia}}</td>
          <td>{{product.grasas}}</td>
          <td>{{product.carbohidratos}}</td>
          <td>{{product.azucar}}</td>
          <td>{{product.proteina}}</td>

          <td>{{product.colesterol}}</td>
        </tr>
      </ng-template>
    </p-table>
     <div class="card">
    <p-chart type="bar" [data]="basicData2" [options]="basicOptions"></p-chart>
  </div>
  </div>
 

</div>